<div class="date-controls">
	<table>
		<td>
		<tr><button>&#60;</button></tr>
		<tr><button>&#62;</button></tr>
		<tr><span>16 - 22 November</span></tr>
		</td>
	</table>
</div>

<div class="calender">
	<div id="calendar">
		<div class="th">
			<span></span>
			<span>Mon</span>
			<span>Tues</span>
			<span>Weds</span>
			<span>Thur</span>
			<span>Fri</span>
			<span>Sat</span>
			<span>Sun</span>
		</div>

		<div id="weeks">
			<div class="hour">
				<div class="time" data-date="9am"></div>
				<div class="mon" data-date=""></div>
				<div class="tue" data-date=""></div>
				<div class="wed" data-date=""></div>
				<div class="thur" data-date=""></div>
				<div class="fri" data-date=""></div>
				<div class="sat" data-date=""></div>
				<div class="sun" data-date=""></div>
			</div>
			<div class="hour">
				<div class="time" data-date="10am"></div>
				<div class="mon" data-date=""></div>
				<div class="tue" data-date=""></div>
				<div class="wed" data-date=""></div>
				<div class="thur" data-date=""></div>
				<div class="fri" data-date=""></div>
				<div class="sat" data-date=""></div>
				<div class="sun" data-date=""></div>
			</div>
			<div class="hour">
				<div class="time" data-date="11am"></div>
				<div class="mon" data-date=""></div>
				<div class="tue" data-date=""></div>
				<div class="wed" data-date=""></div>
				<div class="thur" data-date=""></div>
				<div class="fri" data-date=""></div>
				<div class="sat" data-date=""></div>
				<div class="sun" data-date=""></div>
			</div>
			<div class="hour">
				<div class="time" data-date="12pm"></div>
				<div class="mon" data-date=""></div>
				<div class="tue" data-date=""></div>
				<div class="wed" data-date=""></div>
				<div class="thur" data-date=""></div>
				<div class="fri" data-date=""></div>
				<div class="sat" data-date=""></div>
				<div class="sun" data-date=""></div>
			</div>
			<div class="hour">
				<div class="time" data-date="1pm"></div>
				<div class="mon" data-date=""></div>
				<div class="tue" data-date=""></div>
				<div class="wed" data-date=""></div>
				<div class="thur" data-date=""></div>
				<div class="fri" data-date=""></div>
				<div class="sat" data-date=""></div>
				<div class="sun" data-date=""></div>
				<div></div>
			</div>
			<div class="hour">
				<div class="time" data-date="2pm"></div>
				<div class="mon" data-date=""></div>
				<div class="tue" data-date=""></div>
				<div class="wed" data-date=""></div>
				<div class="thur" data-date=""></div>
				<div class="fri" data-date=""></div>
				<div class="sat" data-date=""></div>
				<div class="sun" data-date=""></div>
				<div></div>
			</div>
			<div class="hour">
				<div class="time" data-date="3pm"></div>
				<div class="mon" data-date=""></div>
				<div class="tue" data-date=""></div>
				<div class="wed" data-date=""></div>
				<div class="thur" data-date=""></div>
				<div class="fri" data-date=""></div>
				<div class="sat" data-date=""></div>
				<div class="sun" data-date=""></div>
				<div></div>
			</div>
			<div class="hour">
				<div class="time" data-date="4pm"></div>
				<div class="mon" data-date=""></div>
				<div class="tue" data-date=""></div>
				<div class="wed" data-date=""></div>
				<div class="thur" data-date=""></div>
				<div class="fri" data-date=""></div>
				<div class="sat" data-date=""></div>
				<div class="sun" data-date=""></div>
				<div></div>
			</div>
			<div class="hour">
				<div class="time" data-date="5pm"></div>
				<div class="mon" data-date=""></div>
				<div class="tue" data-date=""></div>
				<div class="wed" data-date=""></div>
				<div class="thur" data-date=""></div>
				<div class="fri" data-date=""></div>
				<div class="sat" data-date=""></div>
				<div class="sun" data-date=""></div>
				<div></div>
			</div>
			<div class="hour">
				<div class="time" data-date="6pm"></div>
				<div class="mon" data-date=""></div>
				<div class="tue" data-date=""></div>
				<div class="wed" data-date=""></div>
				<div class="thur" data-date=""></div>
				<div class="fri" data-date=""></div>
				<div class="sat" data-date=""></div>
				<div class="sun" data-date=""></div>
				<div></div>
			</div>
			<div class="hour">
				<div class="time" data-date="7pm"></div>
				<div class="mon" data-date=""></div>
				<div class="tue" data-date=""></div>
				<div class="wed" data-date=""></div>
				<div class="thur" data-date=""></div>
				<div class="fri" data-date=""></div>
				<div class="sat" data-date=""></div>
				<div class="sun" data-date=""></div>
				<div></div>
			</div>
			<div class="hour">
				<div class="time" data-date="8pm"></div>
				<div class="mon" data-date=""></div>
				<div class="tue" data-date=""></div>
				<div class="wed" data-date=""></div>
				<div class="thur" data-date=""></div>
				<div class="fri" data-date=""></div>
				<div class="sat" data-date=""></div>
				<div class="sun" data-date=""></div>
				<div></div>
			</div>
			<div class="hour">
				<div class="time" data-date="9pm"></div>
				<div class="mon" data-date=""></div>
				<div class="tue" data-date=""></div>
				<div class="wed" data-date=""></div>
				<div class="thur" data-date=""></div>
				<div class="fri" data-date=""></div>
				<div class="sat" data-date=""></div>
				<div class="sun" data-date=""></div>
				<div></div>
			</div>
			<div class="hour">
				<div class="time" data-date="10pm"></div>
				<div class="mon" data-date=""></div>
				<div class="tue" data-date=""></div>
				<div class="wed" data-date=""></div>
				<div class="thur" data-date=""></div>
				<div class="fri" data-date=""></div>
				<div class="sat" data-date=""></div>
				<div class="sun" data-date=""></div>
				<div></div>
			</div>
			<div class="hour">
				<div class="time" data-date="11pm"></div>
				<div class="mon" data-date=""></div>
				<div class="tue" data-date=""></div>
				<div class="wed" data-date=""></div>
				<div class="thur" data-date=""></div>
				<div class="fri" data-date=""></div>
				<div class="sat" data-date=""></div>
				<div class="sun" data-date=""></div>
				<div></div>
			</div>
			<div class="hour">
				<div class="time" data-date="12am"></div>
				<div class="mon" data-date=""></div>
				<div class="tue" data-date=""></div>
				<div class="wed" data-date=""></div>
				<div class="thur" data-date=""></div>
				<div class="fri" data-date=""></div>
				<div class="sat" data-date=""></div>
				<div class="sun" data-date=""></div>
				<div></div>
			</div>
		</div>
	</div>
</div>