<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
  	<pre><%= JSON.stringify(messages) %></pre>
    <%- body -%>
  </body>
</html>
