<% layout('home_layout'); -%>
<link rel="stylesheet" href="/stylesheets/style.css">
<div class="login goto">
	<img src="img/slanted-login.jpg"/>
	<h1>Login</h1>
	<div class="login-form">
	<form method="POST" action="/login">
		<div>
			<label for="username">Username:</label>
			<input for="username" id="username" name="username" />
		</div>
		<div>
			<label for="password">Password:</label>
			<input for="password" id="password" name="password" type="password"/>
		</div>
		<button type="submit">Login</button>
	</form>
</div>
</div>
