<% layout('widget_layout') -%>

<div id="widget"></div>
<script type="text/javascript" src="/javascripts/thirdparty/iframeResizer.contentWindow.min.js"></script>
<script type="text/javascript">
	window.space = <%- JSON.stringify(space) -%>;
</script>
<script type="text/javascript" src="/javascripts/widget.js"></script>
