<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
	<script type="text/javascript" src="/javascripts/thirdparty/mithril.js"></script>
	<script type="text/javascript" src="/javascripts/thirdparty/iframeResizer.contentWindow.min.js"></script>
  </head>
  <body class="widget-page">
    <%- body -%>
  </body>
</html>
