<% layout('widget_layout') -%>

<div id="widget">

	<div class="goto success">
		<div class="top">
			<h1>Booked</h1>
		</div>
		<div class="vcenter">
			Thank you for your booking <%= space.name %>.
		</div>
	</div>

</div>