<% layout('widget_layout') -%>
<h1>DEBUG: <%= space.name %></h1>
<div id="widget"></div>
<script type="text/javascript">
	window.space = <%- JSON.stringify(space) -%>;
</script>
<script type="text/javascript" src="/javascripts/widget.js"></script>
