@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500);

/* ---------------------------------------------

   Reset

--------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------

   App

--------------------------------------------- */

body {
	color: #4b595e;
	font-family: 'Maven Pro', sans-serif;

	/*Remove tap highlight iOS */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

body[class^="_admin_"] .vcenter > .form-item {
	float: left;
	margin-right: 10px;
}

#widget {
	height: 100%;
}

.widget-page {
	display: flex;
	flex-direction: column;
	height: 568px;
	max-width: 320px;
	text-align: center;
	line-height: 1.5;
	background-color: #f3f4f5; /* Very light */
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	flex: 1;
	text-transform: uppercase;
	padding: 10px;
}

p {
	margin-bottom: 1em;
}

img {
	height: auto;
	max-width: 100%;
	border-radius: 6px;
}

button {
	border: 0;
	border-radius: 0;
	padding: 10px 12px;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	text-transform: capitalize;
	background-color: #c02332; /* Red */

	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

button:hover {
	background-color: #931b26; /* Darker red */
}

button.availability {
	margin-top: 5px;
	padding: 20px 12px;
}

label {
	display: block;
}

.top {
	display: flex;
	background-color: #c5cacb; /* Lighter */
}

.top button {
	width: 44px;
	border-radius: 0;
}

.goto {
	height: calc(100% - 44px); /* minus footer height */
}

.vcenter {
	flex-direction: column;
	display: flex;
	height: 100%;
	overflow: auto;
}

.hide {
	display: none;
}

.footer {
	justify-content: flex-end;
	position: relative;
	padding: 10px;
	background: #fff url('../img/Everyday-Spaces.png') no-repeat right 10px center;
	background-size: 87px auto;
	max-width: 320px;
	text-align: left;
	box-sizing: border-box;
}

/* ---------------------------------------------

   Logo

--------------------------------------------- */

#logo p {
	text-align: right;
}

#logo img {
	float: right;
	margin-top: 0;
}



/*---------------------------------------------------

Login screen

---------------------------*/

.login {
	margin: 2em auto;
	width: 280px;
	text-align: center;
	background: #f3f4f5;
}

.login button {
	width: 80%;
	margin: 1.5em 0;
}

.login img {
	padding-bottom: 1em;
}

.login input {
	width: 80%;
	margin-top: 0.2em;
	border-radius: 5px;
	padding: 1em;
}

.login label {
	text-align: left;
	margin-left: 1.7em;
	margin-top: 1em;
}

.create-header {
	background: #88c6e5;
	padding: 2em 0 2em 2em;
}

.create-header h1 {
 padding: 0 0 1em 0;
}

.fill-in {
	margin: 2em 0 1em 1em;
}

.space {
	width: 360px;
	padding-left: 1em;
}

.space button {
	width: 100%;
	margin: 1em 0;
}

.space img {
	margin: 1em 0;
}

.space label {
	float: left;
	padding: 0.5em 0 0 1em;
	margin-top: 0.5em;
}

.space textarea,
.space input,
.space select {
	float: right;
	border-radius: 5px;
	background: #c5cacb;
	margin: 0.5em 0 0 1em;
	padding: 0.7em;
	width: 52%;
}

textarea, input, select {
	outline: none;
	border: 0px;
 }

.space #image {
	background: #88c6e5;
}

#hiring_charge,
.space select
 {
	background: #88c6e5;
	width: 57.5%;
}

#facilities {
	float: right;
	display: block;
}

.about ul {
	list-style: none;
	padding:0;
	margin:0;
}

.about li {
	padding-left: 1em;
	text-indent: -.7em;
	color: #4b595e;
}

.about li:before {
	content: '• ';
	color: #88c6e5; /* or whatever color you prefer */
}

.about .description p {
	margin: 1em;
}

.availability-filters {
	padding: 20px 0;
	margin-bottom: 10px;
	background-color: #88c6e5; /* Blue */
}

.date-controls {
	margin-bottom: 10px;
}

.date-controls span {
	padding-left: 1em;
}

.date-controls button:first-of-type {
	margin-right: 2px;
}

.buttons {
	padding: 5px 5px;
}

.buttons button {
	width: 100%;
}

#calendar {
	padding: 0 10px;
	margin-bottom: 44px;
	overflow-y: auto;
}

#calendar .booked {
	background-color: #c02332; /* Red */
}

#calendar a:hover {
	background-color: #c5cacb; /* Light */
}

/* Make each week height equally distributive */

#weeks {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	height: 100%;
}

.th,
.hour {
	display: flex;
}

.th > span {
	border-bottom: 4px solid #88c6e5;
	padding-bottom: 2px;
}

.hour > div {
	display: flex;
	border-top: 1px solid #eee;
	min-height: 35px;
	position: relative;
}

.th > span,
.hour > div {
	width: 100%;
	margin-right: 1px;
	color: #4b595e;
}

.hour > div > * {
	width: 100%;
}

/* Dates */

.hour > div::after {
	display: block;
	position: absolute;
	top: 0;
	right: 2px;
	color: #999;
	min-width: 50px;
}

.th > span:first-child,
.hour > span:first-child,
.hour > div:first-child {
	flex: 1 0 50px;
}

/* Weekends */

.th > span:first-child,
.th > span:last-child {
	background: #f3f3f3
}

.th > span:last-child,
.hour > div:last-child {
	margin-right: 0
}

.image-form-item {
	max-width: 200px;
}
