@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500);

/* ---------------------------------------------

   Reset

--------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------

   App

--------------------------------------------- */

body {
	color: #4b595e;
	font-family: 'Maven Pro', sans-serif;

	/*Remove tap highlight iOS */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

/* pls pls pls keep this widget-page selector */
.widget-page > div#widget {
	display: flex;
	flex-direction: column;
	height: 524px;
	max-width: 320px;
	text-align: center;
	line-height: 1.5;
	background-color: #f3f4f5; /* Very light */
}



h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	flex: 1;
	text-transform: uppercase;
	padding: 10px;
}

p {
	margin-bottom: 1em;
}

img {
	height: auto;
	max-width: 100%;
}

button {
	border: 0;
	border-radius: 6px;
	padding: 10px 12px;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	text-transform: capitalize;
	background-color: #c02332; /* Red */

	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

button:hover {
	background-color: #931b26; /* Darker red */
}

button.availability {
	margin-top: 5px;
	padding: 20px 12px;
}

label {
	display: block;
}

.top {
	display: flex;
	background-color: #c5cacb; /* Lighter */
}

.top button {
	width: 44px;
}

.goto {
	height: calc(100% ); /* minus footer height */
}

.vcenter {
	flex-direction: column;
	display: flex;
	height: 100%;
	overflow: auto;
}

.hide.hide.hide.hide.hide {
	display: none;
}

.footer {
	justify-content: flex-end;
	position: relative;
	padding: 10px;
	background-color: #c5cacb; /* Lighter */
	height: 44px;
}

/* ---------------------------------------------

   Logo

--------------------------------------------- */

#logo p {
	text-align: right;
}

#logo img {
	float: right;
	margin-top: 0;
}




/*---------------------------------------------------

Login screen

---------------------------*/

.login {
	margin: 2em auto;
	width: 280px;
	text-align: center;
	background: #f3f4f5;
}

.login button {
	width: 80%;
	margin: 1.5em 0;
}

.login img {
	padding-bottom: 1em;
}

.login input {
	width: 80%;
	margin-top: 0.2em;
	border-radius: 5px;
	padding: 1em;
}

.login label {
	text-align: left;
	margin-left: 1.7em;
	margin-top: 1em;
}

.create-header {
	background: #88c6e5;
	padding: 2em 0 2em 2em;
}

.create-header h1 {
 padding: 0 0 1em 0;
}

.fill-in {
	margin: 2em 0 1em 1em;
}

.space {
	width: 360px;
	padding-left: 1em;
}

.space button {
	width: 100%;
	margin: 1em 0;
}

.space label {
	float: left;
	padding: 0.5em 0 0 1em;
	margin-top: 0.5em;
}

.space textarea,
.space input,
.space select {
	float: right;
	border-radius: 5px;
	background: #c5cacb;
	margin: 0.5em 0 0 1em;
	padding: 0.7em;
	width: 52%;
}

textarea, input, select {
	outline: none;
	border: 0px;
 }

.space #image {
	background: #88c6e5;
}

#hiring_charge,
.space select
 {
	background: #88c6e5;
	width: 57.5%;
}

#facilities {
	float: right;
	display: block;
}

.about ul {
	list-style: none;
	padding:0;
	margin:0;
}

.about li {
	padding-left: 1em;
	text-indent: -.7em;
	color: #4b595e;
}

.about li:before {
	content: '• ';
	color: #88c6e5; /* or whatever color you prefer */
}

.about .description p {
	margin: 1em;
}

.availability-filters {
	padding: 20px 0;
	margin-bottom: 10px;
	background-color: #88c6e5; /* Blue */
}

.date-controls {
	margin-bottom: 10px;
}

.date-controls span {
	padding-left: 1em;
}

.date-controls button:first-of-type {
	margin-right: 2px;
}

.buttons {
	padding: 0 5px;
}

.buttons button {
	width: 100%;
}

#calendar {
	padding: 0 10px;
	margin-bottom: 44px;
	overflow-y: auto;
}

#calendar .booked {
	background-color: #c02332; /* Red */
}

#calendar a:hover {
	background-color: #c5cacb; /* Light */
}

/* Make each week height equally distributive */

#weeks {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	height: 100%;
}

.th,
.hour {
	display: flex;
}

.th > span {
	border-bottom: 4px solid #88c6e5;
	padding-bottom: 2px;
}

.hour > div {
	display: flex;
	border-top: 1px solid #eee;
	min-height: 35px;
	position: relative;
}

.th > span,
.hour > div {
	width: 100%;
	margin-right: 1px;
	color: #4b595e;
}

.hour > div > * {
	width: 100%;
}

/* Dates */

.hour > div::after {
	display: block;
	position: absolute;
	top: 0;
	right: 2px;
	color: #999;
	min-width: 50px;
}

.th > span:first-child,
.hour > span:first-child,
.hour > div:first-child {
	flex: 1 0 50px;
}

/* Weekends */

.th > span:first-child,
.th > span:last-child {
	background: #f3f3f3
}

.th > span:last-child,
.hour > div:last-child {
	margin-right: 0
}

/* Anthony */
/* sorry */
body[class^="_admin_"] {
	/* I padded this 30px more than i need to
	 * I did this because I tried to make the content container margin: 0 auto;
	 * but instead it just looked really broken because of my complete lack of understanding
	 * I didnt want to mess with other code, so ye... enjoy my pixels
	 */
	padding-left: 60px;
}
.left-navigation {
	/* sorry */
	background-color: white;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	overflow: hidden;
	width: 60px;
	/* this is that red border thing */
    border-width: 3px;
    border-style: solid;
    -webkit-border-image:
      -webkit-gradient(linear, 0 0, 0 100%, from(#4b595e), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image:
      -webkit-linear-gradient(#4b595e, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(#4b595e, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
      -o-linear-gradient(#4b595e, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, #4b595e, rgba(0, 0, 0, 0)) 1 100%;
	/* i dont want that left one */
	border-left: 0px;
}

@keyframes grow {
	100% {
		width: 150px;
	}
}
@keyframes growless {
	100% {
		max-width: 100px;
	}
}
.left-navigation:hover {
	animation: grow 0.5s normal forwards;
}
.left-navigation:hover img.profile {
	animation: growless 0.5s normal forwards;
}
.ln-image-wrapper {
	height: 100px;
}
.left-navigation:hover .logo {
	/* this needs animating, it appears too uqickly */
	width: 140px;
}
.left-navigation li {
	padding: 0 1em 0 0;
	text-align: right;
	border-bottom-style: solid;
	border-bottom-color: #8D8D8D;
	border-bottom-width: 1px;
	cursor: pointer;
	box-sizing: border-box;
	display: flex;
	height: 50px;
}
/* http://stackoverflow.com/questions/6868009 */
.left-navigation a:link {
	text-decoration: inherit;
    align-self: center;
    white-space: nowrap;
	color: inherit;
	cursor: auto;
}

.left-navigation .username {
	text-align: center;
}

.left-navigation a:visited {
	text-decoration: inherit;
	color: inherit;
	cursor: auto;
}
.left-navigation:hover li .fa {
	float: left;
	width: 30px;
}
.left-navigation li .fa {
	display: inline-block;
	width: 55px;
	text-align: center;
}
.left-navigation li:hover {
	color: #931b26;
}
.left-navigation li span {
	display: none;
	/* this took me forever to find out */
	white-space: nowrap;
	padding-right: 5px;
}
.left-navigation:hover li span {
	display: inline;
}
.logo {
	opacity: 0.7;
	background-image: url(/img/Everyday-spaces.png);
	width: 55px;
	height: 48px;
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0 auto;
}
img.profile {
	border-radius: 50%;
	max-width: 55px;
	display: block;
	margin: 10px auto 25px auto;
}

ul.messages {
	width: 100%;
	color: white;
	padding-top: 7px;
}
.messages li.success {
	padding: 10px 25px;
	background-color: #88C6E5;
}
.messages .close {
	display: inline-block;
	float: right;
	cursor: pointer;
}

.form-item.form-facilities {
	margin: 15px 0;		
}
