@import url(https://fonts.googleapis.com/css?family=Maven+Pro);

/* ---------------------------------------------

   Reset

--------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
  font-family: 'Maven Pro', sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------

   App

--------------------------------------------- */

body {
	color: #4b595e;
	font-family: 'Maven Pro', sans-serif;

	/*Remove tap highlight iOS */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

body > div {
	display: flex;
	flex-direction: column;
	height: 568px;
	max-width: 320px;
	text-align: center;
	line-height: 1.5;
	background-color: #f3f4f5; /* Very light */
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	flex: 1;
	text-transform: uppercase;
	padding: 10px;
}

p {
	margin-bottom: 1em;
}

img {
	height: auto;
	max-width: 100%;
}

.create {
  width: 800px;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
}

.create label {
  float:left;
}

.create input,
.create textarea,
.create select {
  float: right;
  width: 40%;
}

.create img {
  width: 160px;
}


.create select {
  width: 40.5%;
}

.form-item {
  clear:both;
  margin: 0.2em 0;
}

button {
	border: 0;
	border-radius: 0;
	padding: 10px 12px;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	text-transform: capitalize;
	background-color: #c02332; /* Red */

	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

button:hover {
	background-color: #931b26; /* Darker red */
}

.create button {
  margin: 0.5em 0 1em 0;
  border-radius: 6px;
  width: 100%;
}

.top {
	display: flex;
	background-color: #c5cacb; /* Lighter */
}

.top button {
	width: 44px;
}

.goto {
	height: calc(100% - 44px); /* minus footer height */
}

.vcenter {
	flex-direction: column;
	display: flex;
	height: 100%;
	overflow: auto;
}

.hide {
	display: none;
}

.footer {
	justify-content: flex-end;
	position: relative;
	padding: 10px;
	background-color: #c5cacb; /* Lighter */
}

/* ---------------------------------------------

   Logo

--------------------------------------------- */

#logo p {
	text-align: right;
}

#logo img {
	float: right;
	margin-top: 0;
}

/* ----------------------------------------------- */

.about ul {
	list-style: none;
	padding:0;
	margin:0;
}

.about li {
	padding-left: 1em;
	text-indent: -.7em;
	color: #4b595e;
}

.about li:before {
	content: '• ';
	color: #88c6e5; /* or whatever color you prefer */
}

.about .description p {
	margin: 1em;
}

.availability-filters {
	padding: 20px 0;
	margin-bottom: 10px;
	background-color: #88c6e5; /* Blue */
}

.date-controls {
	margin-bottom: 10px;
}

.date-controls span {
	padding-left: 1em;
}

.date-controls button:first-of-type {
	margin-right: 2px;
}

#calendar {
	margin-bottom: 44px;
	overflow-y: auto;
}

/* Make each week height equally distributive */

#weeks {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	height: 100%;
}

.th,
.hour {
	display: flex;
}

.th > span {
	border-bottom: 4px solid #88c6e5;
	padding: 0 2px 2px 0;
	text-align: right;
}

.hour > div {
	border-top: 1px solid #eee;
	padding: 20px 2px 2px;
	min-height: 40px;
	position: relative;
}

.th > span,
.hour > div {
	width: 100%;
	margin-right: 5px;
	color: #4b595e;
}

/* Dates */

.hour > div::after {
	content: attr(data-date);
	display: block;
	position: absolute;
	top: 0;
	right: 2px;
	color: #999;
}

/* Weekends */

.th > span:first-child,
.th > span:last-child,
.hour > div:first-child,
.hour > div:last-child {
	background: #f3f3f3
}

.th > span:last-child,
.hour > div:last-child {
	margin-right: 0
}
