<div class="availability-filters">
	<span>I want to book a</span>
	<select name="day">
		<option value="">day</option>
		<option value="mon">Monday</option>
		<option value="tue">Tuesday</option>
		<option value="wed">Wednesday</option>
		<option value="thu">Thursday</option>
		<option value="fri">Friday</option>
		<option value="sat">Saturday</option>
		<option value="sun">Sunday</option>
	</select>

	<span>in</span>
	<select name="month">
		<option value="">month</option>
		<option value="0">January</option>
		<option value="1">February</option>
		<option value="2">March</option>
		<option value="3">April</option>
		<option value="4">May</option>
		<option value="5">June</option>
		<option value="6">July</option>
		<option value="7">August</option>
		<option value="8">September</option>
		<option value="9">October</option>
		<option value="10">November</option>
		<option value="11">December</option>
	</select>

	<select name="year">
		<option value="2015">year</option>
		<option value="2015">2015</option>
		<option value="2016">2016</option>
		<option value="2017">2017</option>
	</select>

	<span>from</span>
	<select name="hour">
		<option value="0">HH</option>
		<% for (var hours = 0; hours < 24; hours++) { %>
			<option value="<%= hours %>"><%= hours %>:00</option>
		<% } %>
	</select><!--: <select name="minute" disabled="disabled">
		<option value="">00</option>
	</select> -->
</div>