<% layout('layout') -%>
<h1><%= title %></h1>
<form action="/space" method="post">
	<fieldset>
		<label for="name">Name</label>
		<input id="name" name="name" placeholder="Village Hall" />
		<label for="description">Description</label>
		<textarea id="description" name="description"></textarea>
		<label for="features">Features (comma separated)</label>
		<textarea id="features" name="features"></textarea>
	</fieldset>
	<input type="submit" value="Save Space" />
</form>
