<% layout('layout') -%>
<script 
	type="text/javascript"
	src="/widget/sabot.js?spaceId=<%= space.id %>"
	async="true"></script>

<pre style="display: none;"><%= JSON.stringify(space, null, '\t') %></pre>

<a href="/spaces">Back to your spaces</a>
