@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500);

* {
    font-family: 'Maven Pro', sans-serif;
	/*Remove tap highlight iOS */

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		/* For some Androids */

		-webkit-tap-highlight-color: transparent;
}
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		/* For some Androids */

		-webkit-tap-highlight-color: transparent;

}


/* Basic Reset + 100% Height */

html,
body {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
    color: #4b595e;
}

.wrapper {
	width: 370px;
	height: 568px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 3em;
	padding: 0 1em;
  line-height: 0.9em;
  color: #4b595e;
}


p, span {
  color: #4b595e;
}

.front ul {
    list-style: none;
    padding:0;
    margin:0;
}

.front li {
    padding-left: 1em;
    text-indent: -.7em;
    color: #4b595e;
    font-size: 1.5em;
}

.front li:before {
    content: "• ";
    color: #88c6e5; /* or whatever color you prefer */
}

.front img {
  margin: 1em 0 0 0;
}

.front button {
  width: 100%;
  margin-top: 0.5em;
  border-radius: 10px;
  height: 3em;
  color: #4b595e;
  font-size: 2em;
  background: #c5cacb;
}

.front .description p {
  margin: 1em;
}

.date-controls span {
  padding-left: 1em;
}

/* Calendar 100% height */

#calendar {
		height: 400px;
    overflow-y: scroll;
}
/* Make each week height equally distributive */

#weeks {
		display: flex;
		flex-flow: column nowrap;
		align-items: stretch;
		height: 100%;
}
/* Above only works if child weeks aren't displayed as flex... */
/* Uncomment to see what I mean */
/*
.week {
    display: block !important;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
*/
/* Calendar rows */

.th,
.hour {
		display: flex;
}

.th>span {
		border-bottom: 4px solid #88c6e5;
		padding: 0 2px 2px 0;
		text-align: right;
}

.hour>div {
		border-top: 1px solid #eee;
		padding: 20px 2px 2px;
		min-height: 40px;
		position: relative;
		/* allow ::after psuedo element absolute positioning */
}

.th>span,
.hour>div {
		width: 100%;
		margin-right: 5px;
    color: #4b595e;
}
/* Dates */

.hour>div::after {
		content: attr(data-date);
		display: block;
		position: absolute;
		top: 0;
		right: 2px;
		color: #999;
}
/* Weekends */

.th>span:first-child,
.th>span:last-child,
.hour>div:first-child,
.hour>div:last-child {
		background: #f3f3f3
}

.th>span:last-child,
.hour>div:last-child {
		margin-right: 0
}


/*end cal*/


#logo {
}

#logo p {
	font-size: 0.8em;
	text-align: right;

}

#logo img {
	float: right;
	margin-top: 0;
}
